*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    color: #FFFFFF;
    padding: 0px 16px;
    line-height: 50px;
    min-width: 118px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    border-radius: 24.5px;
    background-color: #171100;
    
}

.conainer{
    position: sticky;
    top: -28px;
}

.conainer .header-body{
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.main-content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.header-nav ul{
    display: flex;
}

.header-nav{
    margin-left: auto;
}

.header-nav a{
    color: #5F5B53;
    font-size: 1.6rem;
    text-align: center;
    padding: 8px 21px;
    position: relative;
}

.header-nav li.active a,
.header-nav a:hover{
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.header-nav li.active a::after{
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: #171100;
    position: absolute;
    left: 21px;
    bottom: 6px;
}

.btn-sign-up{
    min-width: 144px;
}

.conainer .action{
    margin-left: 49px;
}